/* Generals */
*{
    font-family: Lato !important;
}

.right{
    float:right !important;
}

.container{height:100%; position: relative;float: left;}

.wz-ui-input[type="checkbox"] {
    display: none;
}

.wz-ui-input {
    background-color: #fcfeff;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    box-shadow: 0 1px rgba(0, 0, 0, 0.05) inset;
    color: #464646;
    cursor: text;
    font-size: 13px;
    height: 28px;
    padding: 0 10px;
    width: 204px;
}

.wz-ui-input[type="checkbox"] + label i {
    background: url("@static/checkbox_white.png") no-repeat scroll -17px 0 / 51px 17px rgba(0, 0, 0, 0);
    display: inline-block;
    height: 17px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    width: 17px;
}

.white-background{
    background-color: #fff;
}

/* Shadow */
.hide {display:none;}
.abs {position:absolute; z-index: 3;}
.fullHeight{height:100%;}
.fullWidth{width:100%;}
.top{top:0;}
.dark{background-color:#999; background-color: rgba(123,123,123,0.7); opacity: 0.7; top: 40px; height: 93%;}
.center {text-align: center}

/*  Calendar Top Bar */
.wz-ui-header{
    width:935px;
	height: 38px;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
    float: left;
    border-bottom: 2px solid #bc4b4b;
    background: rgba(233,100,100,1);
    background: -moz-linear-gradient(top, rgba(233,100,100,1) 0%, rgba(221,88,88,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(233,100,100,1)), color-stop(100%, rgba(221,88,88,1)));
    background: -webkit-linear-gradient(top, rgba(233,100,100,1) 0%, rgba(221,88,88,1) 100%);
    background: -o-linear-gradient(top, rgba(233,100,100,1) 0%, rgba(221,88,88,1) 100%);
    background: -ms-linear-gradient(top, rgba(233,100,100,1) 0%, rgba(221,88,88,1) 100%);
    background: linear-gradient(to bottom, rgba(233,100,100,1) 0%, rgba(221,88,88,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e96464', endColorstr='#dd5858', GradientType=0 );
}

.shadow-border{
	height: 38px;
    width:100%;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	background-color: #fdfeff;
	border: solid 1px rgba(0,0,0,.15);
}

/* Calendar menu */

.calendar-menu{
    display:block;
    float:left;
    width:845px;
}

.calendar-menu li {
    border-bottom: 2px solid transparent;
    color: #e9b9b7;
    display: inline-block;
    font-size: 15px;
    height: 100%;
    padding: 14px 15px 9px;
    font-family: "Lato";
    float: left;
    margin-right: 2px;
}

.calendar-menu li:nth-child(1) {
    margin-left: 5px;
}

.calendar-menu li.active-type {
    background-color: #bc4b4b !important;
    color: #ffffff !important;
    border-bottom: 2px solid #a04040 !important;
}

.calendar-menu li:hover {
    background-color:  #d15656;
    color: #de9393;
    border-bottom: 2px solid #bc4b4b;
    color: #fff;
}

.calendar-menu-nav{
    width:auto;
    float:left;
    padding-right: 414px;
}

.day-calendar, .week-calendar, .month-calendar{
	display: none;
}

.calendar-active{
	width: 935px;
	background-color: #fff;
	border-top: 1px solid #ccd3d5;
	display:block !important;
}

.calendar-menu-event-finder {      
    height: 28px;
    padding: 5px 20px 7px;
    width: 173px;
    font-size: 15px;
}

.calendar-menu-event-finder input{
    padding-left: 31px;
    width: 173px;    
    height: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #fcfeff;
    -webkit-box-shadow: inset 0 1px rgba(242,242,242,.05);
    -moz-box-shadow: inset 0 1px rgba(242,242,242,.05);
    box-shadow: inset 0 1px rgba(242,242,242,.05);
    border: 1px solid #bd4c4c;
    font-family: "Lato";
    color: #6f7578;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;   
    box-sizing: border-box; 
}

.calendar-buttons{
    height: 100%;
	width: 90px;
}

.wz-view-minimize, .wz-view-maximize, .wz-view-close, .close-image {
    border: 1px solid transparent;
    border-radius: 2px;
    float: left;
    height: 9px;
    padding: 5px;
    width: 10px;
    margin: 9px 14px 10px 0;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}

.calendar-top-bar .calendar-buttons .wz-view-maximize, .calendar-top-bar .calendar-buttons .wz-view-minimize {
    margin-right: 5px;
}

.wz-view-minimize:hover, .wz-view-maximize:hover, .wz-view-close:hover{
    background: #fff;
}

.wz-view-minimize:active, .wz-view-maximize:active, .wz-view-close:active{
    background: rgba(228,228,228,1);
    background: -moz-linear-gradient(top, rgba(228,228,228,1) 0%, rgba(243,243,243,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(228,228,228,1)), color-stop(100%, rgba(243,243,243,1)));
    background: -webkit-linear-gradient(top, rgba(228,228,228,1) 0%, rgba(243,243,243,1) 100%);
    background: -o-linear-gradient(top, rgba(228,228,228,1) 0%, rgba(243,243,243,1) 100%);
    background: -ms-linear-gradient(top, rgba(228,228,228,1) 0%, rgba(243,243,243,1) 100%);
    background: linear-gradient(to bottom, rgba(228,228,228,1) 0%, rgba(243,243,243,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#f3f3f3', GradientType=0 );
    box-shadow: 0 1px #d9d8d8 inset;
    border-color: #be4d4d;
}

.magnifying-glass-img {
    margin-left: 8px;
    position: absolute;
    top: 12px;
}

.magnifying-glass-img i {
    background: url("@static/search_normal.png") no-repeat scroll center bottom / 16px auto rgba(0, 0, 0, 0);
    display: block;
    height: 16px;
    width: 16px;
}

.wz-view-minimize i{
    background: url("@static/minimize_normal.png") no-repeat scroll center bottom / 10px auto rgba(0, 0, 0, 0);
    display: block;
    height: 9px;
    width: 10px;
}

.wz-view-maximize i{
    background: url("@static/enlarge_normal.png") no-repeat scroll center bottom / 10px auto rgba(0, 0, 0, 0);
    display: block;
    height: 9px;
    width: 10px;
}

.wz-view-close i {
    background: url("@static/close_normal.png") no-repeat scroll center bottom / 10px auto rgba(0, 0, 0, 0);
    display: block;
    height: 9px;
    width: 10px;
}

.wz-view-minimize:hover i{
    background: url("@static/minimize_hover.png") no-repeat scroll center bottom / 10px auto rgba(0, 0, 0, 0);
    display: block;
    height: 9px;
    width: 10px;
}

.wz-view-maximize:hover i{
    background: url("@static/enlarge_hover.png") no-repeat scroll center bottom / 10px auto rgba(0, 0, 0, 0);
    display: block;
    height: 9px;
    width: 10px;
}

.wz-view-close:hover i {
    background: url("@static/close_hover.png") no-repeat scroll center bottom / 10px auto rgba(0, 0, 0, 0);
    display: block;
    height: 9px;
    width: 10px;
}

.close-image i{
    background: url("@static/close_normal.png") no-repeat scroll center bottom / 10px auto rgba(0, 0, 0, 0);
    display: block;
    height: 9px;
    width: 10px;
}


/* Calendar head */
.calendar-head {
    background: none repeat scroll 0 0 #fff;
    height: 39px;
    color: #6f7578;
    float:left;
    width: 935px;
}

.my-calendars-menu {
    display: block;
    float: left;
    height: 39px;
    width: 358px;
}

.current-month-menu {
    display: block;
    float: left;
    height: 39px;
    width: 272px;
}

.create-event-menu {
    height: 39px;
    width: 305px;
}

.my-calendars, .current-month, .create-event {
    float: left;
    font-size: 13px;
    width: auto;
}

.my-calendars, .my-calendars span, .create-event, .my-calendars img, .current-month img, .current-month section, .create-event span, .create-event img, .add-new-calendar, .add-new-calendar img, .add-new-calendar span, .deleteCalendar{
    cursor:pointer;
}

.my-calendars{
    width: 93px;
    margin: 6.5px 239px 3.5px 12px;
    font-size: 13px;
    height: 13px;
}

.my-calendars.wz-view-option > img {
    margin: 1px;
}

.current-month{
    width: auto;
    margin: 6.5px 0 3.5px 15%;
}

.current-month span{
    margin: 7px 10px;
    float: left;
    width: 105px;
    text-align: center;
    color: #465057;
}

.create-event{
    padding-right: 20px;
    width: 120px;
    text-align: right;
    margin: 6.5px 4px 3.5px 7px;
}


.create-event > img {
    width: 10px;
}

.calendar-body{
	height: 478px;
    color: #6f7578;
    float: left;
}

.calendar-body table{
    width:935px;
    float: left;
    height: 34px;
    table-layout: fixed;
}

.calendar-days th{
    font-size: 14px;
}

thead{
	background-color: #f6f8f8;
}

/* Calendar Modals  */
.my-calendars-modal{
    width: 210px;
	height: auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #fff;
	border: solid 1px rgba(0,0,0,.15);
    position: absolute;
    display: none;
    margin-left: 12px;
    margin-top: 31px;
    z-index: 2;
}


.my-calendars-modal .arrow {
    background: url('@static/sprite.png') -234px 0;
    background-size: 298px 18px;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 5;
    top:-6px;
    left: 81px;
}

.my-calendars-modal .my-calendars-list {
    margin-left: 11px;
    margin-top: 11px;
}

.my-calendars-modal .my-calendars-list articles {
    margin-bottom: 11px;
    font-size: 13px;
}

.my-calendars-modal .calendar {
    display: block;
    width: 100% !important;
}

.my-calendars-modal .calendar i{
    float: left;
}

.my-calendars-modal .calendar figure {
    border-radius: 4px;
    float: left;
    height: 8px;
    margin-right: 5px;
    position: relative;
    top: 4px;
    width: 8px;
}

.my-calendars-modal .deleteCalendar{
    margin-right: 10px;
    font-size: 12px;
    color:#dc513a;
}

.my-calendars-modal .add-new-calendar{
	text-align: center;
    border-top:  1px solid #dadada;
    width: 100%;
    padding: 11px 0;
    font-size: 13px;
    background-color: #f6f8f8;
}

.create-event-modal{   
    width: 572px;
	height: 259px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #f6f8f8;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.15);
	-moz-box-shadow: 0 0 0 1px rgba(0,0,0,.15);
	box-shadow: 0 0 0 1px rgba(0,0,0,.15);
    display: none;
    z-index: 4;
    position: absolute;
    left: 179px;
    margin-top: 11.5%;
    font-size:13px;
    float:left;
}

.create-event-modal .left-side {
    float: left;
    height: 259px;
    width: 291px;
    position: relative;
}

.create-event-modal .left-side article{
    float: left;
}

.create-event-modal .right-side {
    float: left;
    height: 259px;
    width: 281px;
    position: relative;
}

.create-event-modal .right-side .calendar-description {
    padding-left: 13px;
    padding-top: 15px;
    width: 268px;
}

.create-event-modal .right-side .calendar-description > textarea {
    background-color: #fcfeff;
    border: 1px solid #ccd3d5;
    height: 153px;
    margin-top: 5px;
    width: 250px;
}

.create-event-modal input, .create-event-modal select{
    height: 26px;
	background-color: #fcfeff;
	-webkit-box-shadow: inset 0 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 2px rgba(0,0,0,.05);
	box-shadow: inset 0 2px rgba(0,0,0,.05);
	border: solid 1px #ccd3d5;
    margin-top: 5px;
    color:#6f7578;
    float: left;
    padding-left: 6px;
}

.create-event-modal .left-side .separator {
  background: none repeat scroll 0 0 #ccd3d5;
  height: 238px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 1px;
}


.create-event-modal .dropdown {
    border-bottom: 1px solid #ccd3d5;
    border-right: 1px solid #ccd3d5;
    border-top: 1px solid #ccd3d5;
    float: left;
    height: 26px;
    margin-top: 5px;
    width: 15px;
    -webkit-border-radius: 0 1px 1px 0;
	-moz-border-radius: 0 1px 1px 0;
	border-radius: 0 1px 1px 0;
	background-color: rgba(204,211,213,0);
	background-image: -webkit-linear-gradient(bottom, #f2f2f2, #fafaf8);
	background-image: -moz-linear-gradient(bottom, #f2f2f2, #fafaf8);
	background-image: -o-linear-gradient(bottom, #f2f2f2, #fafaf8);
	background-image: -ms-linear-gradient(bottom, #f2f2f2, #fafaf8);
	background-image: linear-gradient(to top, #f2f2f2, #fafaf8);
    margin-right: 4px;
}

.create-event-modal .arrow {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #919191;
    display: inline-block;
    height: 0;
    margin: 3.4px;
    vertical-align: -9px;
    width: 0;
}

.create-event-modal .event-name {
    height: 41px;
    padding: 15px 0 0 20px;
    width: 176px;
}

.create-event-modal .event-name input{
    width: 174px;
}

.create-event-modal .event-color {
    margin: 34px 9px 0 0;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    float: left;
    height: 25px;
}

.create-event-modal .event-color:hover {background: #e5e5e5;}

.create-event-modal .event-color .color{
    background: none repeat scroll 0 0 #7ebe30;
    width: 16px;
    height: 16px;
    margin: 4px;
    display: inline-block;
}

.create-event-modal .event-color .arrow {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #919191;
    display: inline-block;
    height: 0;
    margin: 0 4px 0 -3px;
    vertical-align: 9px;
    width: 0;
    display: inline-block;
}

.create-event-modal .event-when {
    height: 41px;
    padding: 10px 81px 0 20px;
    width: 175px;
}

.create-event-modal .event-when input{
    width: 254px;
}

.create-event-modal .event-start {
    height: 41px;
    padding: 15px 20px 0 20px;
    width: 107px;
}

.create-event-modal .event-start input{
    width: 25px;
}

.event-start > span {
    padding-right: 72px;
}

.create-event-modal .event-duration {
    height: 41px;
    padding: 15px 42px 0 0;
    width: 81px;
}

.create-event-modal .event-duration select{
    width: 82px;
}

.create-event-modal .event-duration input{
    width: 52px;
}

.create-event-modal .event-frequency {
    height: 41px;
    padding: 15px 6px 35px 20px;
    width: 121px;
}

.create-event-modal .event-frequency input{
    width: 92px;
}

.create-event-modal .event-alert {
    height: 41px;
    padding: 15px 0 35px 0;
    width: 123px;
}

.create-event-modal .event-alert input{
    width: 90px;
}

.create-calendar-modal{
    width: 289px;
	height: 211px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #f6f8f8;
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.3);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,.3);
	box-shadow: 0 1px 5px rgba(0,0,0,.3);
    display: none;
    z-index: 4;
    position: absolute;
    left: 315px;
    margin-top: 17%;
    font-size:14px;
}


.create-calendar-modal .calendar-name > span {
    display: block;
    margin-bottom: 7px;
    padding-left: 1px;
}

.create-calendar-modal calendar-description > span{
    display: block;
}

.create-calendar-modal .calendar-name input{
    width: 161px;
	height: 26px;
	background-color: #fcfeff;
	-webkit-box-shadow: inset 0 1px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px rgba(0,0,0,.05);
	border: solid 1px rgba(0,0,0,.2);
    border-radius: 3px;
    color: #6f7578;
}

.create-calendar-modal .calendar-name {
    margin-left: 6%;
    position: relative;
    top: 24px;
    float: left;
}

.create-calendar-modal .calendar-color {
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    float: left;
    height: 25px;
    margin-left: 54px;
    position: relative;
    top: 45px;
}

.create-calendar-modal .calendar-color:hover {background: #e5e5e5;}

.create-calendar-modal .calendar-color .color{
    background: none repeat scroll 0 0 #7ebe30;
    width: 16px;
    height: 16px;
    margin: 4px;
    display: inline-block;
}

.create-calendar-modal .calendar-color .arrow {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #919191;
    display: inline-block;
    height: 0;
    margin: 0 4px 0 -3px;
    vertical-align: 9px;
    width: 0;
    display: inline-block;
}

.create-calendar-modal .calendar-description {
    margin-left: 6%;
    position: relative;
    top: 31px;
    float: left;
}

.create-calendar-modal .calendar-description textarea{
    width: 256px;
	height: 49px;
	background-color: #fcfeff;
	-webkit-box-shadow: inset 0 1px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px rgba(0,0,0,.05);
	box-shadow: inset 0 1px rgba(0,0,0,.05);
	border: solid 1px rgba(0,0,0,.2);
    margin-top: 6px;
    border-radius: 3px;
    color: #6f7578;
}

.close-image.create-calendar-modal-close i{
    background: url("@static/close_hover.png") no-repeat scroll center bottom / 10px auto rgba(0, 0, 0, 0);
}

.create-calendar-modal .create-calendar-button, .create-event-modal .create-event-button {
    width: 86px;
	height: 34px;
	background-color: #69a55a;
	-webkit-box-shadow: inset 0 -2px rgba(0,0,0,.3);
	-moz-box-shadow: inset 0 -2px rgba(0,0,0,.3);
	box-shadow: inset 0 -2px rgba(0,0,0,.3);
	background-image: -webkit-linear-gradient(bottom, rgba(105,165,90,.5), rgba(121,191,104,.5));
	background-image: -moz-linear-gradient(bottom, rgba(105,165,90,.5), rgba(121,191,104,.5));
	background-image: -o-linear-gradient(bottom, rgba(105,165,90,.5), rgba(121,191,104,.5));
	background-image: -ms-linear-gradient(bottom, rgba(105,165,90,.5), rgba(121,191,104,.5));
	background-image: linear-gradient(to top, rgba(105,165,90,.5), rgba(121,191,104,.5));
    color:#fff;
    margin-top: 44px;
    margin-left: 11px;
    margin-right: 14px;
    border-radius: 2px;
    cursor: pointer;
}

.create-event-modal .right-side .create-event-button{margin-top: 19px;}

.create-calendar-modal .cancel-create-calendar-button, .create-event-modal .cancel-create-event-button {
    cursor: pointer;
    width: 86px;
	height: 34px;
	background-color: #ef5251;
	-webkit-box-shadow: inset 0 -2px rgba(0,0,0,.3);
	-moz-box-shadow: inset 0 -2px rgba(0,0,0,.3);
	box-shadow: inset 0 -2px rgba(0,0,0,.3);
	background-image: -webkit-linear-gradient(bottom, rgba(239,82,81,.5), rgba(255,97,96,.5));
	background-image: -moz-linear-gradient(bottom, rgba(239,82,81,.5), rgba(255,97,96,.5));
	background-image: -o-linear-gradient(bottom, rgba(239,82,81,.5), rgba(255,97,96,.5));
	background-image: -ms-linear-gradient(bottom, rgba(239,82,81,.5), rgba(255,97,96,.5));
	background-image: linear-gradient(to top, rgba(239,82,81,.5), rgba(255,97,96,.5));
    color:#fff;
    margin-top: 44px;
    border-radius: 2px;
}

.create-event-modal .right-side .cancel-create-event-button{margin-top: 19px;}

.create-calendar-modal .close-image {
    float: right;
    left: 250px;
    position: absolute;
    top: -4px;
    cursor: pointer;
}

.create-calendar-modal .close-image i{
    cursor: pointer;
}

.color-picker-container{
    display: none;
    height: auto;
    width: auto;
    position: fixed;
    z-index: 5;
}

.color-picker-container .arrow {
    background: url('@static/sprite.png') -234px 0;
    background-size: 298px 18px;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 5;
    top:-6px;
    left: 6px;
}

.color-picker-container .color-picker {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
    height: auto;
    padding: 6px;
    position: absolute;
    width: 171px;
}

.color-picker-container .color-picker-hover {
    border: 1px solid #fff;
    height: 16px;
    outline: 1px solid #000000;
    position: absolute;
    width: 16px;
}

.color-picker-color td:nth-child(1){
    background: rgba(157, 211, 255, 0.5);
}
.color-picker-color td:nth-child(2){
    background: rgba(126, 190, 48, 0.5);
}
.color-picker-color td:nth-child(3){
    background: rgba(209, 196, 233, 0.5);
}
.color-picker-color td:nth-child(4){
    background: rgba(247, 154, 3, 0.5);
}
.color-picker-color td:nth-child(5){
    background: rgba(109, 83, 65, 0.5);
}
.color-picker-color td:nth-child(6){
    background: rgba(34, 168, 108, 0.5);
}
.color-picker-color td:nth-child(7){
    background: rgba(225, 61, 53, 0.5);
}
.color-picker-color td:nth-child(8){
    background: rgba(225, 143, 234, 0.5);
}
.color-picker-color td:nth-child(9){
    background: rgba(56, 74, 89, 0.5);
}
.color-picker-color td:nth-child(10){
    background: rgba(255, 204, 0, 0.5);
}

.color-picker-color td{
    width: 16px;
    height: 16px;
    border: 1px solid #ffffff;
}

/* Month calendar */
.month-calendar .calendar-day-bar th {
    vertical-align: middle;
    font-size: 13px;
    text-align: center;
    border-right: 1px solid #ccd3d5;
    height: 32px;
}

.month-calendar .day-table {
    left: 0;
    table-layout: fixed;
    top: 0;
    height: 446px;
    font-size: 13px;
}

.month-calendar .day-table td {
    height: 73px;
    background: #ffffff;
    border-right: 1px solid #ccd3d5;
    border-top: 1px solid #ccd3d5;
    vertical-align: top;
}

.month-calendar td.other-month-cell{
    background: #f6f8f8;
}

.month-calendar td span {
    top: 6px;
    left: 6px;
    position: relative;
    float: left;
    margin-bottom: 11px;
    width: 100%;
}

.month-calendar .other-month-cell > span {
    color: #929799;
}

.month-calendar .current-day{
    background-color: rgba(126,190,48,.1);
	border: double 1px #7ebe30 !important;
}

.month-calendar .event {
    color: #4a4a4a;
    float: left;
    font-size: 12px;
    height: 18px;
    left: 2px;
    padding-left: 3px;
    position: relative;
    width: 125px;
    display: block;
    margin-bottom: 1px;
}

.month-calendar .event b {
    margin-right: 5px;
    float: right;
}

.month-calendar .event figure {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    display: inline-table;
    margin-right: 3px;
    margin-top: -11px;
}

.month-calendar .event{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/* Week calendar */
.week-calendar .week-labels {
    border-right: 1px solid #ccd3d5;
    width: 49px;
}

.week-calendar .week-day-names > th {
    border-right: 1px solid #ccd3d5;
    border-left: 1px solid #ccd3d5;
    border-top: 1px solid #f6f8f8;
    vertical-align: middle;
    height: 32px;
}

.week-calendar .week-day-names {
    background-color: #F6F8F8;
    border-bottom: 1px solid #CCD3D5;
}

.week-calendar .all-day {
    border-bottom: 2px solid #f6f8f8;
    border-right: 1px solid #ccd3d5;
    font-size: 13px;
    text-align: center;
}

.week-allday-bar > td:first-child {
    background-color: #F6F8F8;
}

.week-calendar .week-view-all-day {
    position: relative;
    height: 100%;
    float: left;
    width: 100%;
}

.week-calendar .week-view-all-day-table {
    position: absolute;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

.week-calendar .week-view-all-day-grid {
    position: relative;
    table-layout: fixed;
}

.week-calendar .day-all-day {
    border-right: 1px solid rgb(204, 211, 213);
    height: 25px;
    position: relative;
    border-bottom: 2px solid #ccd3d5 !important;
}

.week-calendar .week-day {
    color: #6f7578;
    font-size: 13px;
}

.week-calendar .scroll-time-events {
    line-height: normal;
    overflow-x: hidden;
    position: relative;
    height: 420px;
    width: 935px;
    float:left;
}

.week-calendar .main-wrapper {
    position: relative;
    height: 100%;
}

.week-calendar .spanning-wrapper {
    position: relative;
}

.week-calendar .hour-markers {
    position: absolute;
    width: 100%;
    margin-top: 1px;
}

.week-calendar .time-events {
    table-layout: fixed;
    width: 935px;
}

.week-calendar .marker-cell {
    height: 40px;
    border-bottom: 1px solid #dadada;
}

.week-calendar .times, .week-calendar .times-col {
    width: 49px;
    position: relative;
    background-color: #f6f8f8;
}

@-moz-document url-prefix() {
    .week-calendar .time-events .times, .week-calendar .time-events .times-col{
        width: 50px;
    }
}

.week-calendar .times > section {
    height: 41px;
    position: relative;
    border-right: 1px solid #ccd3d5;
    width: 49px;
}

.week-calendar .times .time-tittle:first-child {
  margin-top: 21px;
}

.week-calendar .time-tittle {
    position: absolute;
    width: 49px;
    border-right: 1px solid #ccd3d5;
    height: 100%;
    padding-top: 11px;
    text-align: center;
    font-size: 13px;
    background-color: #f6f8f8;
}

.week-calendar .time-col {
    border-right: 1px solid #dde5e6;
    position: relative;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;   
    box-sizing: border-box;
    height: 37px;
    border-top: 0 none !important;
}

.week-calendar .current-day {
    -webkit-border-radius: 0 0 0 134px/0 0 0 1px;
    -moz-border-radius: 0 0 0 134px/0 0 0 1px;
    border-radius: 0 0 0 134px/0 0 0 1px;
    background-color: rgba(126,190,48,.1);
    border: double 1px #7ebe30;
}

.week-calendar .event {
    display: block;
    position: absolute;
    width: 102px;
    z-index: 2;
    padding: 2px 9.3px;
    margin-left: 1.4px;
    border-radius: 2px;
    float: left;
    font-size: 13px;
}

.event > span:nth-child(1) {
  display: block;
  font-size: 13px;
  font-weight: bold;
}

.event > span:nth-child(2) {
  display: block;
  font-size: 11px;
}

.day-moment {
    background-color: #de706c;
    height: 1px;
    position: absolute;
    width: 885px;
    right: 0;
}

.day-calendar .day-moment {
    width: 411px;
}

.day-moment-bullet{
    background-color: #de706c;
    border: 1px solid #fff;
    border-radius: 6px;
    height: 11px;
    left: -8px;
    position: absolute;
    width: 11px;
}

.day-moment-time {
    background-color: #de706c;
    border-radius: 24px;
    color: #fff;
    font-size: 11px;
    font-weight: bolder;
    margin-left: 10px;
    margin-top: 8px;
    padding: 2px 6px;
    position: absolute;
}

/* Day calendar */
.day-calendar .day-active {
    width: 469px;
    position: relative;
    height: 100%;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    display: inline-block;
    vertical-align: top;
}

.day-calendar .time-cells {
    position: relative;
    height: 100%;
    display: inline-block;
    overflow-x: hidden;
    width: 461px;
}

.day-calendar .day {
    display: table;
    height: 50%;
    width: 49%;
    float: left;
}

.day-calendar .figure {
    display: inline-block;
    height: 50%;
    width: 50%;
}

.day-calendar .week-days > article {
    display: inline-block;
    padding: 0 3px;
}

.day-calendar .event-list {
    height: 50%;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    float: left;
    overflow-x: hidden;
}

.day-calendar .event-list > .day-events {
    float: left;
    width: 100%;
}

.event-list .day-events .day-head {
    background-color: #f6f8f8;
    border-bottom: 1px solid #ccd3d5;
    height: 28px;
    width: 452px;
    float: left;
    font-size: 13px;
}

.event-list .day-events .event {
    height: 47px;
    float: left;
    width: 456px;
}


.day-events .event .bullet {
    height: 100%;
    width: 28px;
    float: left;
}

.day-events .event .bullet figure{
    border-radius: 4px;
    float: left;
    height: 8px;
    position: relative;
    top: 4px;
    width: 8px;
    background-color: #34aadc;
    margin-left: 9px;
    margin-top: 18px;
}

.day-events .event .event-info {
    float: left;
    height: 100%;
    width: 408px;
    border-bottom: 1px solid #ccd3d5;
    color: #465057;
}

.day-head > span {
    display: inline-block;
    float: left;
    padding: 8px 0;
}

.event-info > span {
    display: inline-block;
    float: left;
    padding: 16px 0;
    font-size: 15px;
}


.day-head > span:first-child {
    padding-left: 20px;
}

.day-head > span:nth-child(2) {
    float: right;
    padding-right: 13px;
}

.event-info > span:nth-child(2) {
    float: right;
    color: #9ea4a6;
    font-size: 13px;
}

.day-calendar .day > article {
    color: #465057;
    display: table-cell;
    padding-left: 10%;
    text-align: left;
    vertical-align: middle;
    width: auto;
}

.day-calendar .day span:first-child {
    font-family: "Lato";
    font-size: 155px;
    font-weight: 300;
    font-weight: lighter;
    float: left;
    width: 170px;
}


.day-calendar .day span:last-child {
    font-size: 24px;
    font-weight: 300;
    margin-left: 20px;
    position: relative;
    top: -15px;
    font-weight: lighter;
}

.day-calendar .mini-calendar {
    margin-top: 15px;
}

.day-calendar .mini-calendar-head{
    width: 205px;
	height: 47px;
    color: #fff;
    text-align: center;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	background-color: #e85c5c;
	-webkit-box-shadow: inset 0 -2px rgba(2,2,2,.15);
	-moz-box-shadow: inset 0 -2px rgba(2,2,2,.15);
	box-shadow: inset 0 -2px rgba(2,2,2,.15);
	background-image: -webkit-linear-gradient(bottom, rgba(0,1,2,.05), rgba(0,0,0,.05));
	background-image: -moz-linear-gradient(bottom, rgba(0,1,2,.05), rgba(0,0,0,.05));
	background-image: -o-linear-gradient(bottom, rgba(0,1,2,.05), rgba(0,0,0,.05));
	background-image: -ms-linear-gradient(bottom, rgba(0,1,2,.05), rgba(0,0,0,.05));
	background-image: linear-gradient(to top, rgba(0,1,2,.05), rgba(0,0,0,.05));
}


.day-calendar .mini-calendar-head > span {
    position: relative;
    top: 5px;
    font-size: 13px;
}

.day-calendar .week-days {
    font-size: 10px;
    margin-top: 14px;
}

.day-calendar .mini-calendar-body{
    width: 203px;
	height: 150px;
	background-color: #fff;
	-webkit-box-shadow: 0 2px #ccd3d5;
	-moz-box-shadow: 0 2px #ccd3d5;
	box-shadow: 0 2px #ccd3d5;
	border: solid 1px #ccd3d5;
}

.day-calendar .mini-calendar-body > table {
    height: 100%;
    width: 100%;
    font-size: 13px;
}

.day-calendar .mini-calendar-body td {
    vertical-align: middle;
    text-align: center;
}

.day-calendar .current-day {
    background-color: #f6f8f8;
    border: 1px solid #ccd3d5;
}

.day-calendar .mini-calendar-body .day-selected {
    background-color: #7ebe30;
    color: #fff;
    border: 1px solid #7ebe30;
}

.day-calendar .time-cells > table{
    table-layout: fixed;
}

.day-calendar .spanning-wrapper{
    position: relative;
}

.day-calendar .hour-markers{
    position: absolute;
    width: 100%;
}

.day-calendar .marker-cell{
    height: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.day-calendar .times > section {
    height: 41px;
    padding-left: 5px;
    position: relative;
    top: -8px;
}

.day-calendar .times-cells{
    width:49px;
}

.day-calendar .times {
    background-color: #f6f8f8;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.day-calendar .time-tittle {
    color: #6f7578;
    font-size: 13px;
}

.day-calendar .time-cells > table {
  width: 463px;
}

/* Images transformation */
.right-arrow{
    transform: rotateY(180deg);   
}